$spacer-4: 0.25rem;
$spacer-8: 0.5rem;
$spacer-12: 0.75rem;
$spacer-16: 1rem;
$spacer-20: 1.25rem;
$spacer-24: 1.5rem;
$spacer-28: 1.75rem;
$spacer-32: 2rem;
$spacer-36: 2.25rem;
$spacer-40: 2.5rem;
$spacer-44: 2.75rem;
$spacer-48: 3rem;
$spacer-52: 3.25rem;
$spacer-56: 3.5rem;
$spacer-60: 3.75rem;
$spacer-64: 4rem;
$spacer-68: 4.25rem;
$spacer-72: 4.5rem;
$spacer-76: 4.75rem;
$spacer-80: 5rem;
$spacer-84: 5.25rem;
$spacer-88: 5.5rem;
$spacer-92: 5.75rem;
$spacer-96: 6rem;
$spacer-100: 6.25rem;
